<%- include('../partials/backend/header') %>

<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Entry Date</th>
        <th scope="col">Pair</th>
        <th scope="col">Risk %</th>
        <th scope="col">Entry ⏱</th>
        <th scope="col">Trade Type</th>
        <th scope="col">Direction</th>
        <th scope="col">Perfect Entry</th>
        <th scope="col">View</th>
      </tr>
    </thead>
    <tbody>
      <% trades.forEach(trade => { %>
      <tr>
        <td><%= trade.entryDate%></td>
        <td><%= trade.pair %></td>
        <td><%= trade.riskPercentage%></td>
        <td><%= trade.timeframe %></td>
        <td><%= trade.tradeType %></td>
        <td></td>
        <td><%= trade.perfectEntry %></td>
        <td>
          <a href="/trades/<%= trade.id %>"><button>More Info</button></a>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
  <a href="/trades/new"><button>New Trade</button></a>
</div>

<%- include('../partials/backend/footer') %>
