<%- include('./partials/backend/header') %>

<div class="container">
  <table class="table">
    <thead>

      <tr>
        <th scope="col">Entry Date</th>
        <th scope="col">Trade Type</th>
        <th scope="col">Pair</th>
        <th scope="col">Risk %</th>
        <th scope="col">Entry ⏱</th>
        <th scope="col">Direction</th>
        <th scope="col">Perfect Entry</th>
        <th scope="col">Perfect Entry</th>
        <th scope="col">View</th>
      </tr>
    </thead>
    <tbody>
      <% trades.forEach(trade => { %>
      <tr>
        <th>
        <td></td>
        <td><%= trade.pair %></td>
        <td></td>
        <td><%= trade.timeframe %></td>
        <td> </td>
        <td></td>
        <td></td>
        <td><a href="/trade-management/<%= trade.id %>"><button>More Info</button></a></td>
        </th>
      </tr>
      <% }) %>
    </tbody>
  </table>
  <a href="/trade-input"><button>New Trade</button></a>
</div>



<%- include('./partials/backend/footer') %>