<%- include('../partials/header') %>

<div class="container" style="color: black;">
  <h1><%= trade.pair %></h1>
  <h3><%= trade.tradeType %></h3>
  <h3><%= trade.entryPrice %></h3>
  <h3><%= trade.stopPrice %></h3>
  <h3><%= trade.portfolioSize %></h3>
  <h3><%= trade.riskPercentage %></h3>
  <% trade.entryShots.forEach(img => { %>
  <p><img src="<%= img %>" alt="" /></p>
  <% }); %>
  <h3><%= trade.entryNotes %></h3>
  <h3><%= trade.perfectEntry %></h3>
  <p></p>
  <a href="/report/<%= trade.id %>/edit"><button class="btn btn-primary">Edit</button></a>
</div>

<%- include('../partials/footer') %>