<%- include('../partials/backend/header') %>

<section>
  <div class="container mx-auto col-7 rounded mt-5 ">
    <div class="col text-center p-3">
      <h1>Your Active Trades</h1>
    </div>
    <table class="table table-sm table-hover table-dark">
      <thead>
        <tr>
          <th scope="col">Future</th>
          <th scope="col">Side</th>
          <th scope="col">Size</th>
          <th scope="col">Est. Liquidation Price </th>
          <th scope="col">Avg Open Price</th>
          <th scope="col">PnL</th>

        </tr>
      </thead>
      <tbody>
        <tr>
          <% pos.forEach(element => { %>
          <td><%= element.future %></td>
          <td><%= element.side %></td>
          <td><%= element.size %></td>
          <td><%= element.estimatedLiquidationPrice %></td>
          <td><%= element.entryPrice %></td>
          <td><%= element.unrealisedPnl %></td>
          <%  }); %>
        </tr>
      </tbody>
    </table>
    <a href="/report/new"><button class="btn btn-primary btn-sm mb-3">New Trade</button></a>
  </div>
</section>
<%-include('../partials/backend/footer') %>